<div class="page">
  <header>
    <div class="title">{{title}}</div>
    <nav>
      <ul>
        <li *ngIf="(user | async)"><a [routerLink]="['/data']" routerLinkActive="router-link-active">Manage Data</a></li>
        <li *ngIf="(user | async) === null"><a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a></li>
        <li *ngIf="(user | async)"><a [routerLink]="['/logout']" routerLinkActive="router-link-active">Logout</a></li>
      </ul>
    </nav>
  </header>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <span>
      &copy; 2021 M2D2 Enterprises LLC
    </span>
  </footer>
</div>
