<h1>Data</h1>

<main>

  <button (click)="createRecord()">Add Data</button>

  <h2>Firestore</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Created By</th>
        <th>Created On</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of resources | async">
        <td><a [routerLink]="['/admin',item.id]">{{item.id}}</a></td>
        <td>{{item.createdBy}}</td>
        <td>{{item.createdOn?.toDate() | date:'yyyy-MM-dd hh:mm:ss'}}</td>
      </tr>
    </tbody>
  </table>

</main>
